name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # This permission is needed to upload files to the release

    steps:
      # 1. Checkout your repository's code
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 2. Substitute the Manifest and Download URLs in the module.json
      - name: Substitute Manifest Details
        uses: im-open/variable-substitution@v2
        with:
          files: "module.json"
        env:
          version: ${{ github.event.release.tag_name }}
          url: https://github.com/${{ github.repository }}
          manifest: https://github.com/${{ github.repository }}/releases/latest/download/module.json
          download: https://github.com/${{ github.repository }}/releases/download/${{ github.event.release.tag_name }}/module.zip

      # 3. Create a zip file with all required module files
      - name: Create Zip Archive
        run: zip -r ./module.zip module.json docs/ scripts/ templates/ 
